{% extends 'base.html' %}
{% load static %}
{% load tag %}
{% load crispy_forms_tags %}
{% block content %}
{% load humanize %}

<p class="h1">

  <a class="btn btn-success" href="{% url 'demandeachat_create' %}">Creer une Demande d'achat</a>
  <a class="btn btn-secondary" href="{% url 'export_demande_achat_xls' %}">Exporter</a>



</p>

<div class="row">
  <div class="col">
    <div class="card card-body">
      <form method="get">
        <div class="row">

          <div class="col-md-4">
            {{filter.form.DA_Code|as_crispy_field}}

          </div>
          <div class="col-md-4">
            {{filter.form.devise|as_crispy_field}}

          </div>
          <div class="col-md-4">
            {{filter.form.statut_achat|as_crispy_field}}

          </div>
          <div class="col-md-4">
            {{filter.form.destination_achat|as_crispy_field}}

          </div>
          <div class="col-md-4">
            {{filter.form.created_by__structure|as_crispy_field}}

          </div>
        </div>
        <button class="btn btn-primary" type="submit">Search </button>

      </form>

    </div>
  </div>
</div>
<table class="table align-middle mb-0 bg-white" id="table">
  <thead class="bg-light">
    <tr>
      <th>Code DA</th>
      <th>Destination</th>
      <th>Structure</th>

      <th>Devise</th>
      <th>Devis Total</th>

      <th>Statut</th>
      <th>Etat</th>
      <th>Projet</th>
      <th>Action</th>


    </tr>
  </thead>
  <tbody>
    {% for demande in object_list %}
    <tr>
      <td>
        <div class="d-flex align-items-center">

          <div class="ms-4">
            <p class="fw-bold mb-1"><a href="{% url 'DemandeAchat_show_detail' demande.id %}">{{demande.DA_Code}}</a>
            </p>

          </div>

        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">

          <div class="ms-4">
            <p class="text-muted mb-0">{{demande.destination_achat}}</p>
          </div>
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">

          <div class="ms-4">
            <p class="text-muted mb-0">{{demande.created_by.structure}}</p>
          </div>
        </div>

      </td>

      <td>
        <div class="d-flex align-items-center">

          <div class="ms-4">
            <p class="text-muted mb-0">{{demande.devise}}</p>
          </div>
        </div>

      </td>
      <td>
        <div class="d-flex align-items-center">

          <div class="ms-4">
            <p class="text-muted mb-0 devis" style="white-space: nowrap;" id="devis">{{demande.total_devis}}</p>
          </div>
        </div>

      </td>
      <td>
        <div class="d-flex align-items-center">
          {% if demande.statut_achat == "001" %}
          <div class="ms-4">
            <p class="text-muted mb-0">En Cours</p>
          </div>
          {% elif demande.statut_achat == "003" %}
          <div class="ms-4">
            <p class="text-muted mb-0">Cloturé</p>
          </div>
          {% elif demande.statut_achat == "002" %}
          <div class="ms-4">
            <p class="text-muted mb-0">Annulé</p>
          </div>
          {% endif %}
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">

          <div class="ms-4">
            <p class="text-muted mb-0">{{demande.etat_achat}}</p>
          </div>
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">

          <div class="ms-2">
            <p class="text-muted mb-0">{{demande.projet.nom_projet}}</p>
          </div>
        </div>

      </td>
      <td>
        <div class="d-flex align-items-center">

          <div class="ms-4">
            <a href="{% url 'demande_achat_download' demande.id %}" class="btn btn-primary btn-block">
              <i class="fas fa-download"></i> Telecharger
            </a>
          </div>
          {% if demande.statut_achat == "001" %}
          <div class="ms-4">
            <a href="{% url 'DemandeAchatRestart' demande.id %}" class="btn btn-secondary btn-block">
              <i class="fas fa-download"></i> Relancer
            </a>
          </div>
          {% endif %}
        </div>

      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>


<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number%}" aria-label="Précédente">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    <span class="current">
      Page {{page_obj.number}} sur {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?{% param_replace page=page_obj.next_page_number%}" aria-label="Suivante">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>






{% endblock content %}



{% block js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script type="text/javascript">
  console.log('sdssssss')
  var AllP = $('#table').find("p[id='devis']");
  $(AllP).each(function (index) {
    AllP[index].textContent = AllP[index].textContent.replace(',', ' ')
  });
  console.log(AllP)

</script>

{% endblock %}