{% extends 'core/base.html' %}

{% block body %}
  <div class=" m-5"></div>
  {% if success %}
    <div class="alert alert-success" role="alert">
      La pré demande à été modifié avec succès
      <a href="{% url 'core:index' %}" class="alert-link">G Acceuil</a>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card bg-light mb-3">
          <div class="card-header">
            <i class="fa-solid fa-pen-to-square fa-lg"></i> Modifier Pré demande d'achat
          </div>
          <div class="card-body">
            <form action="" method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Update</button>
              <a href="{% url 'core:index' %}" class="btn btn-secondary">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}