{% extends 'core/base.html' %}

{% block body %}
  <div class=" m-5"></div>
  {% if success %}
    <div class="alert alert-success" role="alert">
      La pré demande à été modifié avec succès
      <a href="{% url 'core:index' %}" class="alert-link">G Acceuil</a>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card bg-light mb-3">
          <div class="card-header">
            <i class="fa-solid fa-pen-to-square fa-lg"></i> Modifier Pré demande d'achat
          </div>
          <div class="card-body">
            <form action="" method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Modifier</button>
              <a href="{% url 'core:index' %}" class="btn btn-secondary">Annuler</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const natureAchat = document.getElementById("id_natureAchat");
      const na_autre = document.getElementById("id_na_autre");
      const miseDiso = document.getElementById("id_miseDiso");
      const md_autre = document.getElementById("id_md_autre");
  
      natureAchat.addEventListener("change", function() {
            if (natureAchat.value === "004") {
              na_autre.style.display = "block";
            } else {
              na_autre.style.display = "none";
            }
        });
        natureAchat.dispatchEvent(new Event("change"));
  
        miseDiso.addEventListener("change", function() {
          if (miseDiso.value === "004") {
            md_autre.style.display = "block";
          } else {
            md_autre.style.display = "none";
          }
      });
      miseDiso.dispatchEvent(new Event("change"));
    });
  </script>

{% endblock %}