{% extends 'core/base.html' %}

{% block body %}

<div class="container-fluid"> 
  <div class="m-4"> 
      <div class="row"> 
          <div class="col-12"> 
              <div class="card border-secondary mb-3" style="ms-4 mb-4">
                  <div class="card-header"> <i class="fa-solid fa-list"></i> Les Pré demandes d'achat </div>
                  <div class="card-body">
                      <div class="table-responsive"> 
                          <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th scope="col">Désignation</th>
                                  <th scope="col">Qunatité</th>
                                  <th scope="col">Compte de Destination</th>
                                  <th scope="col">Nature de l'Achat</th>
                                  <th scope="col">Mise Dispo</th>
                                  <th scope="col">Affectation de l'Achat</th>
                                  <th scope="col">Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for predemande in predemandes %}
                                <tr>
                                  <td>{{ predemande.designation }}</td>
                                  <td>{{ predemande.qtt }}</td>
                                  <td>{{ predemande.get_destinationCompte_display }}</td>
                                  <td>{{ predemande.get_natureAchat_display }}</td>
                                  <td>{{ predemande.get_miseDiso_display }}</td>
                                  <td>{{ predemande.get_affectationAchat_display }}</td>
                                  <td>  <a class="btn btn-outline-primary" href="{% url 'core:edit' predemande.id %}">
                                    <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                  </a>
            
                                  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#core:delete{{predemande.id}}">
                                    <i class="fa-solid fa-trash-can fa-lg"></i>
                                  </button>
                                  
                      <!-- Modal - Supprimer pré demande -->
                      <div class="modal" id="core:delete{{predemande.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">
                                 {{ predemande.designation }} 
                              </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p> Êtes vous sûr de vouloir annuler cette pré demande ?</p>
                            </div>
                            <div class="modal-footer">
                              <form action="{% url 'core:delete' predemande.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Oui">
                              </form>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                            </div>
                          </div>
                        </div>
                      </div>
                                </td>
                                </tr>
                                {% endfor %}
                                
                              </tbody>
                            </table>

                      </div>
                  </div>
                </div>

          </div>
         </div>

  </div>
</div>

{%endblock%}

